---
import DocsLayout from '../../layouts/DocsLayout.astro';
---

<DocsLayout title="Docs | react-data-table-component">
  <h1>Documentation</h1>
  <p>
    Use the sidebar to navigate. Start with <a href="/docs/getting-started">Getting started</a> if
    you're new to the library.
  </p>
</DocsLayout>
